---
// pages/posts/[...slug].astro
import {getCollection, render} from "astro:content";
import Layout from "@/layouts/main.astro";
import FolderStructure from "@/components/posts/folder-structure.astro";
import Separator from "@/components/posts/separator.astro"
import {basics} from "@cv";

const {nickname} = basics;

export async function getStaticPaths() {
  const posts = await getCollection("post");

  return [
    // index 페이지용 경로
    {params: {slug: undefined}},
    // 각 포스트용 경로들
    ...posts.map((post) => ({
      params: {slug: post.id},
      props: {post},
    })),
  ];
}

const {post} = Astro.props;
const {slug} = Astro.params;
const posts = await getCollection("post");

// 폴더 구조 변환 함수
function generateFolderStructure(posts) {
  const structure = [];

  posts.forEach((post) => {
    const {id} = post;
    const parts = id.split("/");
    let currentLevel = structure;

    parts.forEach((part, index) => {
      let existing = currentLevel.find((item) => item.name === part);

      if (!existing) {
        existing = {
          post,
          name: part,
          path: index === parts.length - 1 ? `/posts/${id}` : null,
          children: [],
        };
        currentLevel.push(existing);
      }

      if (index < parts.length - 1) {
        currentLevel = existing.children;
      }
    });
  });

  return structure;
}

const structuredData = generateFolderStructure(posts.filter((post) => post.id !== "index"));
const indexPost = posts.find((post) => post.id === "index");

const currentPost = slug ? post : indexPost;

let Content = undefined;
if (currentPost) {
  const {Content: PostContent} = await render(currentPost);
  Content = PostContent;
}

const pathArray = [...currentPost.id.split("/").slice(0, -1), currentPost.data.title];
---

<Layout title=`${nickname} - Posts` tab="posts">
  <div
    class="flex flex-col lg:flex-row mx-auto sm:min-h-[calc(100vh-169px)] min-h-[calc(100vh-125px)]
            border-t border-neutral-200 dark:border-neutral-800
            bg-white
            dark:bg-neutral-950
    "
  >
    <!-- 사이드바 -->
    <div>
      <div
        class="lg:hidden flex h-14 items-center border-b border-gray-950/5 bg-white px-4 sm:px-6 dark:border-white/10 dark:bg-neutral-950 text-neutral-400">
        <button class="p-2 rounded-md hover:bg-neutral-100 dark:hover:bg-neutral-700">
          <svg
            class="w-4 h-4 text-black dark:text-white"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path d="M4 8h16M4 16h16"></path>
          </svg>
        </button>
        <div class="ml-4 flex min-w-0 items-center gap-2 text-sm/6 whitespace-nowrap">
          {pathArray.map((dir, index) => (
            <span class="flex items-center gap-2">
              {index === pathArray.length - 1 ? <span class="text-black dark:text-white">{dir}</span> :
                <span>{dir}</span>}
              {index < pathArray.length - 1 && (
                <svg viewBox="0 0 16 16"
                     class={`size-4 ${index === pathArray.length - 2 && "text-black dark:text-white"}`}>
                  <path fill-rule="evenodd" fill="currentColor"
                        d="M6.22 4.22a.75.75 0 0 1 1.06 0l3.25 3.25a.75.75 0 0 1 0 1.06l-3.25 3.25a.75.75 0 0 1-1.06-1.06L8.94 8 6.22 5.28a.75.75 0 0 1 0-1.06Z"
                        clip-rule="evenodd"></path>
                </svg>
              )}
            </span>
          ))}
        </div>
      </div>

      <aside
        class="hidden lg:flex flex-col basis-full lg:basis-72 grow-0 shrink-0"
      >
        <nav
          class="p-2 lg:pb-20 overflow-y-auto relative lg:sticky top-0 h-screen lg:top-16 lg:h-[calc(100vh_-_4rem)] z-[1]"
        >
          <ul class="flex flex-col gap-y-0.5 p-6 ml-2">
            <li
              class={`transition-[background-color] flex flex-col p-1.5 pl-0 rounded-md ${currentPost.id === indexPost.id ? "text-[#F97316] dark:text-[#E34D0A] hover:bg-[#F97316]/30 dark:hover:bg-[#E34D0A]/30" : "hover:bg-neutral-100 dark:hover:bg-neutral-700"}`}
            >
              <a
                href={`/posts/${indexPost.id}`}
                class="pl-2.5 text-sm"
              >
                {indexPost.data.title}
              </a>
            </li>
            <FolderStructure items={structuredData} currentPostId={currentPost.id}/>
          </ul>
        </nav>
      </aside>
    </div>

    <Separator/>

    <!-- 메인 콘텐츠 -->
    <main class="flex-1 flex flex-col p-6 lg:p-10">
      {
        currentPost && (
          <article class="prose dark:prose-invert max-w-none">
            <h2>{currentPost.data.title}</h2>
            {Content &&
              <Content/>}
          </article>
        )
      }
    </main>

    <Separator/>

  </div>
</Layout>
